.j-dropzone {
    border: 1px dashed #ccc;
}

.j-pad-12 {
    padding: 12px 0 12px 0;
}

.j-padding-top {
    padding-top: 0.2em;
}

.j-padding-bottom {
    padding-bottom: 0.2em;
}
.j-pad-right-25{
    padding-right: 25px;
}

.j-pad {
    padding: 0.2em;
}

.j-margin-top {
    margin-top: 0.3em;
}

.j-border {
    border: 1px solid rgba(175,175,175,0.6); 
    border-radius: 2px;   
}

.j-editor-pane {
    background: rgba(225, 225, 225, 0.25);
}

[j-type="j-dashlet-zone-group"]::after{
    display: table;
    content: '';
    clear: both;
}

    .j-dropzone-enter {
        border-color: #8fc400!important;
    }

    .j-drop-zone {
        border-style: dashed !important;
    }


.j-theme-red .j-theme, .j-theme-red .j-theme-l5{
    background: rgba(195,90,90,0.7);
}
 

.j-theme-blue .j-theme, .j-theme-blue .j-theme-l5{
    background: rgba(90,90,190,0.7);
}

.j-theme-green .j-theme, .j-theme-green .j-theme-l5{
    background: rgba(90,190,90,0.7);
}

.j-theme-yellow .j-theme, .j-theme-yellow .j-theme-l5{
    background: rgba(250,250,90,0.7);
}