<style>
    j-dashlet-editor-panel {
        display: block;
    }
</style>
<j-component id="j-dashlet-editor-panel" delay-register="true">
    <template>
        <div class="modal fade">
            <div class=" modal-dialog">
                <div class="modal-content">
                    <header class="handle modal-header j-theme">
                        <button type="button" j-action="closeeditor" class="pull-right btn close" aria-label="Close" data-dismiss="modal">&times;</button>
                        <h2 j-bind="title" j-type="j-dashlet-title">
                            Configure
                        </h2>
                    </header>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer"> 
                        <a j-action="setconfig" class="btn btn-default  j-theme" data-dismiss="modal">Done</a>
                    </div>
                </div> 
            </div> 
        </div> 

    </template>
    <script>
        jdash.define({ elementClass: jdash.bs.DashletEditorPanel })
    </script>
</j-component>