<style>
    j-dashlet-editor-panel {
        display: block;
    }
</style>
<j-component id="j-dashlet-editor-panel" delay-register="true">
    <template>
        <div class="modal fade">
            <div class=" modal-dialog">
                <div class="modal-content">
                    <header class="handle modal-header j-theme-d1">
                        <button type="button" j-action="closeeditor" class="pull-right btn close j-theme-action" aria-label="Close" data-dismiss="modal">&times;</button>
                        <h2 j-bind="title" j-type="j-dashlet-title">
                            Configure
                        </h2>
                    </header>
                    <div class="modal-body">
                        <div class="j-theme-color-reset">
                            <slot name="body" class=" j-theme-d1"></slot>
                        </div>
                    </div>
                    <div class="modal-footer j-theme-d1">
                        <a j-action="setconfig" class="btn btn-default j-theme-action" data-dismiss="modal">Done</a>
                    </div>
                </div>
            </div>
        </div>

    </template>
    <script>
        jdash.define({ elementClass: jdash.bs.DashletEditorPanel })
    </script>
</j-component>