<style>
    j-dashlet-panel {
        display: block;
    }
    
    div.j-margin-bottom {
        margin-bottom: 5px;
    }
    
    .dashlet-action {
        display: block;
        margin-top: 5px;
        background: #fff;        
    }
    
    .dashlet-action > .glyphicon {
        padding: 5px;
    }
    
    [j-type="j-dashlet-header"] {
        padding: 0.6em;
        cursor: move;
        display: block;
        background: #fff;        
    }
    
    [j-type="j-dashlet-container"] {
        background: #fff;
    }
</style>
<j-component id="j-dashlet-panel">
    <template>
        <div class="j-margin-bottom">
            <template j-drag-handle j-type="j-dashlet-header" class="j-container j-theme" j-target-tag="header">
                <h4 j-bind="title" j-bind-default="&nbsp" class="j-truncate" j-type="j-dashlet-title">
                </h4>
            </template>
            <template j-type="j-dashlet-configuration-tools" class="j-padding j-center j-theme-light text-center dashlet-action">
                <button type="button" class="btn btn-default" j-action="configuredashlet"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-default" j-action="setdashlettitle"><span class="glyphicon glyphicon-font"></span></button>
                <button type="button" class="btn btn-default" j-action="clonedashlet"><span class="glyphicon glyphicon-tint"></span></button>
                <button type="button" class="btn btn-default" j-action="removedashlet"><span class="glyphicon glyphicon-remove"></span></button>
            </template>
            <div j-type="j-dashlet-container" class="j-content-theme">
                <slot name="body"></slot>
            </div>
        </div>
    </template>
</j-component>