<style>
    j-dashlet-panel {
        display: block;
    }
</style>
<j-component id="j-dashlet-panel">
    <template>
        <div class="j-margin-bottom">
            <template j-drag-handle j-type="j-dashlet-header" class="j-container j-theme" j-target-tag="header">
                <h4 j-bind="title" j-bind-default="&nbsp" class="j-truncate" j-type="j-dashlet-title">
                </h4>
            </template>
            <template j-type="j-dashlet-configuration-tools" class="j-padding j-center j-theme-light">
                <a j-action="configuredashlet" class="j-btn-floating j-icon-btn j-theme-action"><i class="fa fa-pencil"></i></a>
                <a j-action="setdashlettitle" class="j-btn-floating j-icon-btn j-theme-action"><i class="fa fa-font"></i></a>
                <a j-action="clonedashlet" class="j-btn-floating j-icon-btn j-theme-action"><i class="fa fa-clone"></i> </a>
                <a j-action="removedashlet" class="j-btn-floating j-icon-btn j-theme-action"><i class="fa fa-trash"></i> </a>
            </template>
            <div j-type="j-dashlet-container" class="j-content-theme">
                <slot name="body"></slot>
            </div>
        </div>
    </template>
</j-component>