<style>
    j-grid-layout {
        display: block;
    }

    [j-type="j-dashlet-zone-group"] {
        padding: 5px;
        margin: 2px 0px 2px 0px;
    }

    [j-type="j-zone-editor"] {
        padding: 4px 0px 4px 0px;
    }

    [j-type="j-section-editor"] {
        padding: 5px 5px;
    }

    [j-type="j-zone-editor"] .btn,
    [j-type="j-section-editor"] .btn,
    [j-type="j-dashlet-zone-group-editor"] .btn {
        border: none;
    }

    [j-type="j-zone-editor"] .btn:hover,
    [j-type="j-section-editor"] .btn:hover,
    [j-type="j-dashlet-zone-group-editor"] .btn:hover {
        background: #ccc;
    }
</style>
<j-component id="j-grid-layout" delay-register="true">
    <template>
        <template j-type="j-layout-content">
            <div j-persist="">
                <section j-persist title="First Section" class="container-fluid" j-type="j-layout-section">
                    <div j-persist j-type="j-layout-section-header">
                        <h2 j-persist j-type="j-layout-section-title">First section</h2>
                    </div>
                    <div j-persist j-type="j-dashlet-zone-group">
                        <div j-persist j-dashlet-zone j-weight="2">
                        </div>
                        <div j-persist j-dashlet-zone j-weight="2">
                        </div>
                    </div>
                </section>
                <section j-persist title="Another section" class="container-fluid" j-type="j-layout-section">
                    <div j-persist j-type="j-layout-section-header">
                        <h2 j-persist j-type="j-layout-section-title">Another section</h2>
                    </div>
                    <div j-persist j-type="j-dashlet-zone-group">
                        <div j-persist j-dashlet-zone j-weight="3">
                        </div>
                        <div j-persist j-dashlet-zone j-weight="2">
                        </div>
                    </div>
                </section>
                <section j-persist title="" class="container-fluid" j-type="j-layout-section">
                    <div j-persist j-type="j-layout-section-header">
                        <h2 j-persist j-type="j-layout-section-title"></h2>
                    </div>
                    <div j-persist j-type="j-dashlet-zone-group">
                        <div j-persist j-dashlet-zone j-weight="1">
                        </div>
                        <div j-persist j-dashlet-zone j-weight="1">
                        </div>
                        <div j-persist j-dashlet-zone j-weight="1">
                        </div>
                        <div j-persist j-dashlet-zone j-weight="1">
                        </div>
                    </div>
                </section>
            </div>
        </template>


        <template j-type="j-dropzone" class="panel panel-default j-pad-12 j-dropzone j-theme-l4">
        </template>

        <template j-type="j-zone-editor" class="text-center j-padding-bottom j-margin-top j-border j-pad">
            <button type="button" title="Move Left" j-action="movezone" j-action-params="direction:prev" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button type="button" title="Move Right" j-action="movezone" j-action-params="direction:next" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-arrow-right"></i></button>
            <button type="button" title="Increase Width" j-action="resizezone" j-action-params="inc:1" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-resize-full"></i></button>
            <button type="button" title="Decrease Width" j-action="resizezone" j-action-params="inc:-1" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-resize-small"></i></button>
            <button type="button" title="New Subzone" j-action="makezonegroup" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-th-large"></i></button>
            <button type="button" title="Clone" j-action="clonezone" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-duplicate"></i></button>
            <button type="button" title="Delete Zone" j-action="removezone" class="btn btn-default j-theme-action "><i class="glyphicon glyphicon-remove"></i></button>
        </template>

        <template j-type="j-section-editor" class="row j-pad j-border j-margin-top j-editor-pane j-theme">
            <div class="col-md-3">
                <h4 j-type="j-layout-section-title"></h4>
            </div>
            <div class="pull-right ">
                <button type="button" title="Move Left" j-action="movesection" j-action-params="direction:prev" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button type="button" title="Move Right" j-action="movesection" j-action-params="direction:next" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-arrow-down"></i></button>
                <button type="button" title="Clone" j-action="clonesection" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-duplicate"></i></button>
                <button type="button" title="Edit Title" j-action="editsectiontitle" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-pencil"></i></button>
                <button type="button" title="Reset" j-action="resetsection" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-refresh"></i></button>
                <button type="button" title="Delete Section" j-action="removesection" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-remove"></i></button>
            </div>



        </template>

        <template j-type="j-dashlet-zone-group-editor" class="container-fluid j-pad j-margin-top j-editor-pane j-theme">
            <div class="col-md-3 text-center">
                <h5 j-type="j-dashlet-zone-group-title"></h5>
            </div>

            <div class="container-fluid pull-right">
                <button type="button" title="Move Up" j-action="movezonegroup" j-action-params="direction:prev" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button type="button" title="Move Down" j-action="movezonegroup" j-action-params="direction:next" class="btn btn-defaul j-theme-action"><i class="glyphicon glyphicon-arrow-down"></i></button>
                <button type="button" title="Clone" j-action="clonezonegroup" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-duplicate"></i></button>
                <button type="button" title="Edit Title" j-action="editzonegrouptitle" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-pencil"></i></button>
                <button type="button" title="Delete Zone Group" j-action="removezonegroup" class="btn btn-default j-theme-action"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </template>

        <template j-type="j-dashlet-zone-group" j-persist="" class=" j-border j-editor-pane j-margin-bottom">

            <div j-persist="" j-type="j-dashlet-zone-group-header" class="">
                <h3 j-persist="" class="col-md-12" j-type="j-dashlet-zone-group-title">
                    My group
                </h3>
            </div>
            <div j-persist="" class="j-row-padding j-margin-bottom">
                <div j-persist="" j-dashlet-zone></div>
                <div j-persist="" j-dashlet-zone></div>
            </div>


        </template>
    </template>
    <script>
        jdash.define({
            elementClass: jdash.bs.GridLayout
        })
    </script>
</j-component>